body {
    background-color: #f8f9fa;
}

/* USER FORM PADDING */
.card {
    margin-bottom: 3%;
}

/* USER TOAST RESULT DIV */
.toast {
  min-width: 80%;
  margin-top: 10%;
}

.client-result {
    margin: auto;
}

#display-pass {
    text-align: center;
}

/* working */



    

.toast img {
    display: flex;
    margin-left: auto;
    position: relative;

    width: 20px;
    margin-right: 2%;
    margin-bottom: 2%;


}



