body {
    background-color: #f8f9fa;
}

/* MAIN CARD BODY */
/* .card-body {

} */

/* LENGTH OF PASSWORD */
.object-width {
    width: 20%;
    min-width: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-range {
    width: 10%;
}

